@import "../../../index.scss";
$shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);

.feedbackContainer {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  .feedbackCard {
    border: 1px solid black;
    background-color: white;
    box-shadow: $shadow;
    .feedbackHeader {
      background-color: $orange;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid black;
      padding: 5px 0;
    }

    .feedbackForm {
      .feedbackBody {
        padding: 10px;
      }

      #email {
        max-height: fit-content;
      }

      #message {
        min-height: 100px;
      }

      input,
      button,
      textarea {
        border: 1px solid black;
        background-image: none;
        background-color: #dadad3;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &:focus {
          outline: none;
        }
      }
      textarea {
        resize: none;
        margin-top: 10px;
        display: flex;
        padding: 5px;
        width: 250px;
      }

      button {
        cursor: pointer;
        font-weight: 500;
        float: right;
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover {
          background-color: $orange;
        }
      }
    }
    .feedbackFooter {
      display: flex;
      justify-content: space-between;

      a {
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        opacity: 0.25;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .feedbackContainer {
    display: block;
    margin-top: 0;

    .feedbackHeader {
      max-width: 650px;
      font-size: 14px;
    }

    .feedbackCard {
      border: none;
      border-top: 1px solid black;
      box-shadow: none;
      max-width: 100%;

      textarea {
        width: 100%;
      }
    }
  }
}
