@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Raleway:wght@100&display=swap");
@import "../../../index.scss";

.home-container {
  line-height: 150%;
  padding: 10px;
  h1 {
    line-height: 100%;
  }

  p {
    span,
    a {
      &:hover {
        background-color: $dark-blue;
        text-decoration: underline;
      }
    }
  }
}

.screentour-link {
  display: flex;
  &:hover {
    background-color: $dark-blue;
    text-decoration: underline;
  }
}

.screentour-footer-link {
  &:hover {
    background-color: $dark-blue;
    text-decoration: underline;
  }
}
