@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Raleway:wght@100&display=swap');
@import '../../index.scss';

/* maybe change container dimensions */
.main {
    padding-left: 50px;
    padding-right: 50px;
    // padding-left: 10%;
    // padding-right: 10%;
    // background-color: rgba(0, 0, 0, 0.75);
}

.container {
    // margin: 25px 0; 
    max-width: 600px;
    // min-width: 200px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid $dark-gray;
    border-top: none;

    #bold {font-weight: bold;}
    #italic {font-style: italic;}
    #underline {text-decoration: underline;}
    #courrier {
        font-family: 'Courier Final Draft', Courier, monospace;
        font-size: 16px;
      }
    #yellow {background-color: #ffec98;}
    #red {background-color: #ffc9c9;}
    #black {background-color: black;}
    #white {color: white;}

    sup {font-size: 8pt;}
    // border-radius: 8px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    .containerHeader {
        max-width: 600px;
        font-size: 14px;
        position: sticky;
        top: 47px;
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-family: 'Courier Final Draft', Courier, monospace;
        white-space: nowrap;
        overflow: hidden;

        .divider {
            color: $darker-gray;
        }

        .startLink {
            float: right;

            &:hover {
                color: $dark-gray;
            }
        }
        
    }
    
    .blog {
        background-color: white;
        padding: 20px;
        max-width: 600px;
        overflow: hidden;

        .pictureContainer {
            border: 1px solid $dark-gray;
            margin: 20px 0;
            width: 100%;

            .picture {
                max-width: 550px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .pictureLabel {
                font-family: 'Courier Final Draft', Courier, monospace;
                font-size: 13pt;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid black;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
}

.blogHeader {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.blogSubHeader {
    font-family: 'Courier Final Draft', Courier, monospace;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.screengradeContainer {
    display: flex;
    justify-content: center;
}

.screengradeHeader {
    font-family: 'Courier Final Draft', Courier, monospace;
    background-color: #d6daec;
    font-size: 15pt;
    line-height: 125%;
    width: 100%;
    text-align: center;
}

.closeButton {
    font-family: 'Courier Final Draft', Courier, monospace;
    background-color: #d6daec;
    font-size: 15pt;
    line-height: 125%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.blogText {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 125%;
}

.screengradeBlogText {
    font-family: 'Inconsolata', monospace;
    font-size: 13pt;
    line-height: 125%;
    background-color: #d6daec;
    padding: 30px 20px 10px 20px;
}

.screengradePictureContainer {
    display: grid;
    justify-content: center;
}


.blogFooter {
    font-family: 'Courier Final Draft', Courier, monospace;
    border-top: 1px solid black;
    padding: 20px 10px 0 20px;
    margin-top: 20px;
    font-size: 13pt;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.blogFooter a, .blogText a {
        color: black;
        text-decoration: none;
}

.localGlossary {
    background-color: black;
    color: white;
}

.localGlossaryHeader {
    padding: 10px 20px 0 20px;
    font-family: 'Courier Final Draft', Courier, monospace;
    font-size: 14px;
    text-align: center;
}

.localGlossaryList {
    font-family: 'Inconsolata', monospace;
    line-height: 125%;
    font-size: 12px;
    padding-right: 20px;
}

.localGlossaryList li {
    margin-top: 10px;
}

.definition {
    padding-top: 5px;
}

.localGlossaryFooter {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    text-align: center;
}

.screengradeHeader, .closeButton {
    display: inline-block;
}

.screengradeHeader:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.blogFooter a:hover, .blogText .a:hover {
    color: rgb(231, 150, 0);
    text-decoration: underline;
}

// @media screen and (max-width: 600px) {
//     .blogText, .blogSubHeader {
//         font-size: 3.25vw;
//     }

//     .container {
//         .containerHeader {
//             font-size: 3vw;
//         }
//     }

//     #courrier {
//         font-size: 3.25vw;
//     }
// }

// @media screen and (max-width: 500px) {
//     .blogText {
//         font-size: 16px;
//     }

//     .container {
//         .containerHeader {
//             font-size: 15px;
//         }
//     }

//     #courrier {
//         font-size: 17px;
//     }
// }

@media screen and (max-width: 480px) {
    .main {
        padding: 0;
    }
    // .picture {
    //     width: 435px;
    // }

    // .pictureContainer {
    //     width: fit-content;
    // }
}

@media screen and (max-width: 350px) {

}


@media screen and (max-width: 295px) {
    // .picture {
    //     width: 250px;
    // }
}

@media screen and (max-width: 280px) {
    
    .container {
        .containerHeader {
            #wideScreen {
                display: none;
            }
    
            #divider {
                display: none;
            }
        }
    }
    
}