.blogHeader {
    font-family: 'Courier Final Draft', Courier, monospace;
}

.screengradeHeader {
    font-family: 'Courier Final Draft', Courier, monospace;
    
}

.blogText {
    font-family: monospace;
}

.screengradeBlogText {
    font-family: monospace;
    background-color: #d6daec;
}

.picture {
    border: 1px solid black;
}

.blogFooter a, .blogText a {
        color: black;
        text-decoration: none;
}

.screengradeHeader, .closeButton {
    display: inline-block;
}

.screengradeHeader:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.blogFooter a:hover, .blogText a:hover {background-color: #f1f1f1}
