
.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.navBar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    /* padding: 5px; */
    /* disables highlighting */
-webkit-touch-callout: none;
-webkit-user-select: none; 
 -khtml-user-select: none; 
   -moz-user-select: none; 
    -ms-user-select: none; 
        user-select: none; 
}

.headerLink {
     padding: 5px;
}

.title:hover {
    color: #f1f1f1;
}

.headerLink:hover {background-color: #f1f1f1}

#dropDownBox #extrasLink:hover {background-color: #3d3d3d}


.categories:hover #dropDownBox {
display: block;
}

.style:hover #dropDownBox {
display: block;
}
    
