.screentourHeader {
    font-family: 'Courier Final Draft', Courier, monospace;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid black; */
}

.screentourFooter {
    font-family: 'Courier Final Draft', Courier, monospace;
    border-top: 1px solid black;
    padding: 20px 10px 0 20px;
    margin-top: 20px;
    font-size: 15pt;
    display: flex;
    justify-content: center;
}