.App {
  text-align: center;
}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
}

#underline {
  text-decoration: underline;
}

#courrier {
  font-family: 'Courier Final Draft', Courier, monospace;
  font-size: 11pt;
}

#yellow {
  background-color: #ffec98;
}

#red {
  background-color: #ffc9c9;
}