.App {
  text-align: center;
}

.mainLink {
  font-family: 'Courier Final Draft', Courier, monospace;
  font-size: 13pt;
}

.mainLink:hover, a:hover {background-color: #f1f1f1}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
}

#underline {
  text-decoration: underline;
}

#courrier {
  font-family: 'Courier Final Draft', Courier, monospace;
  font-size: 15pt;
}

#timesNewRoman {
  font-family: 'Times New Roman', Times, serif;
}

#yellow {
  background-color: #ffec98;
}

#red {
  background-color: #ffc9c9;
}

#black {
  background-color: black;
}

#white {
  color: white;
}